table.table {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    border-collapse: collapse;
    overflow: auto;
    margin-bottom: 50px;
    th {
        border-top: 1px solid #f3f7fa;
        background-color: #FAFBFC;
        border-bottom: 1px solid #f3f7fa;
        padding: 10px 8px;
        text-align: center;
    }
    td {
        border-top: 1px solid #f3f7fa;
        border-bottom: 1px solid #f3f7fa;
        padding: 10px 8px;
        text-align: center;
    }
}